.error {
	font-family : verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FF0000;
}

.container {
	font-family : arial, verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size : 12px;
    margin-left: 200px;
}